html{scroll-behavior: smooth;}
#about{margin-bottom: 80px;margin-top: -30px;}
#experiences{margin-bottom: 65px;margin-top: -30px;}
#projects{margin-bottom: 65px;margin-top: -30px;}
#contact{margin-bottom: 65px;margin-top: -30px;}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
	/* font-family: 'FjallaOne'; */
}
header{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #2196f3;
	width: 100%;
	box-sizing: border-box;
}
header .logo{
	color: #fff;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}
header nav{
	float: right;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
header nav ul li{
	list-style: none;
	position: relative;
}
header nav ul li.sub-menu:before{
	content: '\f0d7';
	font-family: fontAwesome;
	position: absolute;
	line-height: 50px;
	color: #fff;
	right: 5px;
	bottom: 8px;
}
header nav ul li.active.sub-menu:before{
	content: '\f0d8';
	color: #fff;
}
header nav ul li ul{
	position: absolute;
	left: 0;
	background: #2196f3;
	display: none;
}
header nav ul li.active ul{
	display: block;
}
header nav ul li ul li{
	display: block;
	width: 100px;
}
header nav ul li a{
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-weight: bold; */
}
/* header nav ul li a:active{color: red;} */
header nav ul li a:hover,
header nav ul li a.active{
	color: #fff;
	/* border: 2px solid #2196f3;
	border-radius: 15px; */
	text-decoration: none;
}
.sub-menu img{width: 20px;height: 15px;margin-right: 10px;}
.sub-menu{margin-left: 50px;}


.menu-toggle{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}


.img-fassade img{
	width: 100%;
	height: 500px;
}
.experiences img{
	width: 180px;
	height: 180px;
}
/* .img-fassade figure figcaption{
	position: absolute;
} */

.fa {
	padding: 20px;
	font-size: 20px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 120px;
}
.fa:hover {
	color: #fff;
	text-decoration: none;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.fa-whatsapp {
	background: rgb(11, 175, 11);
	color: white;
}
.icon-contact .bi{
	color: #007bb5; 
	background-color: rgb(260, 260, 260);
	padding: 22px;
	font-size: 20px;
	border-radius: 70px;
}
/* form .input[type="email"],.input[type="text"],textarea{box-shadow: none;} */
.contact .coordonnees,.contact .formulaire{
	background-color: rgb(245, 245, 245);
	padding: 30px;
	border-top: 3px solid #007bb5;
	border-bottom: 3px solid #007bb5
}
/* .contact .coordonnees{max-width: 550px;margin-right: 20px;} */
.about .h4, .experiences .h4, .projects .h4, .contact .h4{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
.about img{width: 50%;height: auto;margin-top: 5px;}

.infos-entreprise .titre-post{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	color: rgb(105, 105, 105);
}
.projects img{height: 180px;width: 150px;}

/* .section-apropos{margin-top: 25px;border-bottom: 3px solid #000;} */

@font-face {
	font-family: 'FjallaOne-Regular';
	src: url('fonts/FjallaOne-Regular.ttf') format('truetype');

	/* font-family: 'ScriptMTBold';
	src: url('fonts/ScriptMTBold.ttf') format('truetype'); */
}

.modal-body .desc-entreprise,.modal-body ul li,.modal-body span{font-size: 14px;}


.logo-footer{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 35px;}

/*Scroll to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom:5px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    /* background-color: red; */
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  .scroll-top img{width: 70px;height: 70px;}
  

@media(max-width: 991px){

	header{
		padding: 0 20px;
	}
	.menu-toggle{
		display: block;
	}
	header nav{
		position: absolute;
		width: 60%;
		height: calc(100vh - 50px);
		background: #000;
		top: 50px;
		left: -100%;
		transition: 0.5s;
		margin-top: 20px;
	}
	header nav.active{
		left: 0;
	}
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		border-bottom: 1px solid #fff;
	}
	header nav ul li.active ul{
		position: relative;
		background: #007bb5;
	}
	header nav ul li ul li{
		width: 100%;

	}
	
	.img-fassade img{
		height: 300px;
	}
	.contact .coordonnees{max-width: auto;margin-right: 0px!important;margin-bottom: 20px;}
	.contact .adresse, .contact .email, .contact .telephone{text-align: center;margin-top: 20px;}
	.logo img{margin-bottom: -10px;}

	#about{margin-bottom: 90px;}
	#experiences{margin-bottom: 75px;}
	#projects{margin-bottom: 75px;}
	#contact{margin-bottom: 75px;}
	
	header nav ul li ul li{
		width: 100%;
	}
	.sub-menu{margin-left: 0px!important;}
	
}