html{scroll-behavior: smooth;}
#a-propos{margin-bottom: 80px;margin-top: -30px;}
#experiences{margin-bottom: 65px;margin-top: -30px;}
#projets{margin-bottom: 65px;margin-top: -30px;}
#contact{margin-bottom: 65px;margin-top: -30px;}
body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #fff;
	/* font-family: 'FjallaOne'; */
}
header{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #2196f3;
	width: 100%;
	box-sizing: border-box;
}
header .logo{
	color: #fff;
	height: 60px;
	line-height: 60px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}
header nav{
	float: right;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
}
header nav ul li{
	list-style: none;
	position: relative;
}
header nav ul li a{
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	display: block;
	text-transform: uppercase;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	/* font-weight: bold; */
}
/* header nav ul li a:active{color: red;} */
header nav ul li a:hover,
header nav ul li a.active{
	color: #fff;
	/* border: 2px solid #2196f3;
	border-radius: 15px; */
	text-decoration: none;
}
.menu-toggle{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}


.img-fassade img{
	width: 100%;
	height: 500px;
}
.experiences img{
	width: 180px;
	height: 180px;
}
/* .img-fassade figure figcaption{
	position: absolute;
} */

.fa {
	padding: 20px;
	font-size: 20px;
	width: 60px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 120px;
}
.fa:hover {
	color: #fff;
	text-decoration: none;
}

.fa-youtube {
	background: #bb0000;
	color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.icon-contact .bi{
	color: #007bb5; 
	background-color: rgb(260, 260, 260);
	padding: 22px;
	font-size: 20px;
	border-radius: 70px;
}
/* form .input[type="email"],.input[type="text"],textarea{box-shadow: none;} */
.contact .coordonnees,.contact .formulaire{
	background-color: rgb(245, 245, 245);
	padding: 30px;
	border-top: 3px solid #007bb5;
	border-bottom: 3px solid #007bb5
}
.contact .coordonnees{max-width: 550px;margin-right: 20px;}
.a-propos .h4, .experiences .h4, .projets .h4, .contact .h4{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}

/* .section-apropos .h4::before{
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 41px;
	left: calc(50% - 60px);
}
.section-experiences .h4::before{
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: -290px;
	left: calc(50% - 60px);
}
.section-projets .h4::before{
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: -765px;
	left: calc(50% - 60px);
}
.section-contact .h4::before{
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: -1205px;
	left: calc(50% - 60px);
}


.section-apropos .h4::after{
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #5cb874;
	bottom: 40px;
	left: calc(50% - 20px);
} 
.section-experiences .h4::after{
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #5cb874;
	bottom: -291px;
	left: calc(50% - 20px);
}
.section-projets .h4::after{
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #5cb874;
	bottom: -766px;
	left: calc(50% - 20px);
}
.section-contact .h4::after{
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #5cb874;
	bottom: -1206px;
	left: calc(50% - 20px);
} */

/* .a-propos .row{
	margin-top: 20px;
} */

.infos-entreprise .titre-post{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	color: rgb(105, 105, 105);
}

/* .section-apropos{margin-top: 25px;border-bottom: 3px solid #000;} */

@font-face {
	font-family: 'FjallaOne-Regular';
	src: url('fonts/FjallaOne-Regular.ttf') format('TrueTypeFont');
}

.modal-body .desc-entreprise{font-size: 14px;}

@media(max-width: 991px){
	header{
		padding: 0 20px;
	}
	.menu-toggle{
		display: block;
	}
	header nav{
		position: absolute;
		width: 100%;
		height: calc(100vh - 50px);
		background: #2196f3;
		top: 60px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active{
		left: 0;
	}
	
	header nav ul{
		display: block;
		text-align: center;
	}
	header nav ul li a{
		border-bottom: 1px solid #fff;
	}
	.img-fassade img{
		height: 300px;
	}
	.contact .coordonnees{max-width: auto;margin-right: 0px!important;margin-bottom: 20px;}
	.contact .adresse, .contact .email, .contact .telephone{text-align: center;margin-top: 20px;}
}